@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.cdnfonts.com/css/nexa-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --orange-clr: rgb(254, 140, 69);
    --orange-active-clr: rgb(214, 121, 62);
    --lavender-clr: rgb(138, 71, 246);
}

.btn-orange {
    background-color: var(--orange-clr);
    border: 2px solid var(--orange-clr);

    &:hover {
        color: var(--orange-clr) !important;
        background-color: transparent;
        border: 2px solid var(--orange-clr);
    }
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--orange-clr);
    border: 2px solid var(--orange-clr);

    &:hover {
        color: var(--orange-clr) !important;
        background-color: transparent;
        border: 2px solid var(--orange-clr);
    }
}

.nav-link-hover {
    &:hover {
        color: var(--orange-clr) !important;
    }
}

.bg-lavender {
    background-color: rgb(138, 71, 246);
}

.text-lavender {
    color: rgb(138, 71, 246);
}

.large-text {
    font-size: 70px;
}

.fa-nexa {
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
}

.lavender-bar {
    right: 70px;
    top: 185px;
    height: 25px;
    width: 240px;
    background-color: var(--lavender-clr);
    border-radius: 20px;
}
